.swiper {
  width: 100%;
  height: 567px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper {
  border-radius: 12px;
  overflow: hidden;
}
.swiper-button-next,
.swiper-button-prev {
  z-index: 9999;
  pointer-events: auto;
  pointer-events: all;
  
}
.swiper {
  position: relative;
}
.swiper-button-next,
.swiper-button-prev {
  color: #fff !important;
  width: 50px;
  height: 50px;
  border-radius: 20%;
  opacity: 70%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: #1ABC9C;
  color: #fff;
  transform: scale(1.1);
  transition: 0.3s;
  opacity: 70%;
}

.swiper-slide {
  position: relative;
}

.slide-caption {
  position: absolute;
  bottom: 30px;
  left: 30px;
  color: #fff;
  background: rgba(0,0,0,0.5);
  padding: 10px 15px;
  border-radius: 8px;
}


.slide-inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.slide-inner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Overlay */
.slide-overlay {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: flex-end;
  padding: 30px;
  background: transparent; /* remove o escurecimento geral */
}


/* Conteúdo */
.slide-content {
  background: rgba(0, 0, 0, 0.9);
  padding: 12px 18px;
  border-radius: 8px;

  transform: translateY(20px);
  transition: 0.4s;
}

.slide-content h3 {
  color: #fff;
  margin: 0;
  font-size: 22px;
}

.slide-content span {
  color: #ddd;
  font-size: 14px;
}


/* Hover (desktop) */
.swiper-slide:hover .slide-overlay {
  opacity: 1;
}

/* Mobile / slide ativo */
.swiper-slide-active .slide-overlay {
  opacity: 1;
}


.slide-content {
  transform: translateY(20px);
  transition: 0.4s;
}

.swiper-slide-active .slide-content,
.swiper-slide:hover .slide-content {
  transform: translateY(0);
}